###############GITLAB PARAMETERS#####################################"
#must use
KATHRA_SOURCEMANAGER_GITLAB_URL=gitlab.default.irtsysx.fr

KATHRA_SOURCEMANAGER_GITLAB_API_TOKEN = ${GITLAB_ADMIN_TOKEN_HERE}

KATHRA_SOURCEMANAGER_DEFAULT_GITLAB_GROUP = 59

###############GITLAB PARAMETERS#####################################"

KATHRA_SOURCEMANAGER_FOLDER_NAME_CONTAINING_GIT_REPOS = kathra-sourcemanager-git-repos

KATHRA_SOURCEMANAGER_DELETE_FOLDER_AFTER_GIT = true

KATHRA_SOURCEMANAGER_DELETE_ZIP_FILE = true

KATHRA_SOURCEMANAGER_MAXIMAL_TRY_NUMBER_TO_CREATE_DIRECTORY = 3

KATHRA_SOURCEMANAGER_DEFAULT_VERSION = 1.0.0-SNAPSHOT;




    

